<p-dialog
    header="Editar requerimiento"
    [modal]="true"
    [breakpoints]="{'575px': '100vw'}"
    [style]="{ width: '500px', maxHeight: '100%'}"
    [draggable]="false"
    [resizable]="false"
    [closeOnEscape]="false"
    [visible]="projectStore.projectDetailToEdit() != null"
    (visibleChange)="projectStore.setProjectDetailToEdit(null);frmCreate.reset()">
    <form class="grid pt-2" [formGroup]="frmCreate">
        <div class="col-12">
            <p-floatLabel>
                <input pInputText id="amount_required" formControlName="amount_required" class="w-full"/>
                <label for="amount_required">Monto Requerido *</label>
            </p-floatLabel>
            <small class="text-xs text-pink-600" style="height: 1em;">
                {{ getErrorMessage('amount_required') }}
            </small>
        </div>
        <div class="col-12 flex justify-content-end">
            <button
                type="submit"
                class="p-button p-button-outlined-primary p-button-lg"
                (click)="handleSubmit()"
                [disabled]="isSubmitting()">
                <span class="w-full text-center">
                    <ng-container *ngIf="isSubmitting(); else saveIcon">
                        <i class="pi pi-spinner pi-spin mr-2"></i>
                        PROCESANDO...
                    </ng-container>
                    <ng-template #saveIcon>
                        <i class="pi pi-save"></i>
                        GUARDAR
                    </ng-template>
                </span>
            </button>
        </div>
    </form>
</p-dialog>
