.p-sidebar {
    background: $overlayContentBg;
    color: $panelContentTextColor;
    // box-shadow: $overlayContainerShadow;
    // border: $menuBorder;
    border-right: $menuBorder;
    box-shadow: none;

    .p-sidebar-header {
        padding: $panelHeaderPadding;

        .p-sidebar-close,
        .p-sidebar-icon {
            @include action-icon();
        }

        & + .p-sidebar-content {
            padding-top: 0;
        }
    }

    .p-sidebar-content {
        // padding: $panelContentPadding;
        padding: 0;
    }

    .p-sidebar-footer {
        padding: $panelHeaderPadding;
    }
}
