<p-dialog
header="Nuevo experiencia laboral"
[modal]="true"
[breakpoints]="{'960px': '100vw'}"
[style]="{ width: '960px',maxHeight: '100%'}"
[draggable]="false"
[resizable]="false"
[visible]="workExperienceStore.isOpenCreate()"
(visibleChange)="onCloseModalCreate()"
[formGroup]="frmCreate">
    <p-fieldset legend="Datos personales">
      <form class="grid">
        <div class="col-6 flex flex-column justify-content-center">
          <div class="flex column-gap-4">
              <label for="">Tipo de sector</label>
              <label>
                <input type="radio" formControlName="sector" name="sector" value="publico" /> Publico
              </label>
              <label>
                <input type="radio" formControlName="sector" name="sector" value="privado" /> Privado
              </label>
            </div>

            <small class="text-sm text-pink-600" style="height: 1em;">
              {{ getErrorMessage('sector') }}
            </small>
        </div>

        <div class="col-6 flex flex-column">
          <p-dropdown
          formControlName="experience_type"
          styleClass="w-full"
          appendTo="body"
          [options]="experienceTypes()"
          optionLabel="label"
          optionValue="label"
          [showClear]="true"
          placeholder="Seleccione un tipo experiencia *">
          </p-dropdown>
          <small class="text-sm text-pink-600" style="height: 1em;">
            {{ getErrorMessage('experience_type') }}
          </small>
      </div>


        <div class="col-6 flex flex-column">
            <p-floatLabel>
                <input pInputText id="entity" formControlName="entity"  class="w-full"/>
                <label for="entity">Entidad *</label>
            </p-floatLabel>
            <small class="text-sm text-pink-600" style="height: 1em;">
              {{ getErrorMessage('entity') }}
            </small>
        </div>
        <div class="col-6 flex flex-column">
          <p-floatLabel>
                <input pInputText id="job_title" formControlName="job_title"  class="w-full"/>
                <label for="job_title">Cargo ocupado *</label>
              </p-floatLabel>
              <small class="text-sm text-pink-600" style="height: 1em;">
              {{ getErrorMessage('job_title') }}
            </small>
        </div>

        <div class="col-6 flex flex-column">
          <p-floatLabel>
            <p-calendar
            formControlName="start_date"
                  [styleClass]="'w-full'"
                  appendTo="body"
                  [iconDisplay]="'input'"
                  dataType="string"
                  [showButtonBar]="true"
                  inputId="start_date"/>
                  <label for="start_date">Fecha de inicio</label>
                </p-floatLabel>
                <small class="text-sm text-pink-600" style="height: 1em;">
                  {{ getErrorMessage('start_date') }}
                </small>
              </div>

        <div class="col-6 flex flex-column">
          <p-floatLabel>
            <p-calendar
            formControlName="end_date"
            [styleClass]="'w-full'"
            appendTo="body"
            [iconDisplay]="'input'"
            dataType="string"
            [showButtonBar]="true"
            inputId="end_date"/>
            <label for="end_date">Fecha de fin</label>
          </p-floatLabel>
          <small class="text-sm text-pink-600" style="height: 1em;">
            {{ getErrorMessage('end_date') }}
          </small>
        </div>


        <div class="col-12 flex-column">
          <p-floatLabel>
            <textarea
            formControlName="functions_performed"
            id="functions_performed"
            rows="5" cols="10"
            pInputTextarea>
          </textarea>
          <label for="functions_performed">Funciones principales desempeñadas</label>
          </p-floatLabel>
          <small class="text-sm text-pink-600" style="height: 1em;">
            {{ getErrorMessage('functions_performed') }}
          </small>
        </div>

        <div class="col-6 flex flex-column">
            <p-floatLabel>
                <input pInputText id="document_name" formControlName="document_name"  class="w-full"/>
                <label for="document_name">Documento *</label>
            </p-floatLabel>
            <small class="text-sm text-pink-600" style="height: 1em;">
              {{ getErrorMessage('document_name') }}
            </small>
        </div>

        <div class="col-6 flex justify-content-end">
          <div class="w-full flex justify-content-end">
            <p-fileUpload
            mode="basic"
            chooseLabel="SUBIR ARCHIVO"
            chooseIcon="pi pi-upload"
            maxFileSize="1000000"
            (onSelect)="onSelectFile($event)"
            (onUpload)="null" />
          </div>
        </div>


      </form>
    </p-fieldset>


    <div class="col-12 flex justify-content-end px-0">
      <p-button label="GUARDAR" iconPos="left" icon="pi pi-save" [outlined]="true" (onClick)="handleSubmit()"/>
    </div>
</p-dialog>
