<div class="w-100 py-3 flex justify-content-between">
  <div>
      <p-breadcrumb  styleClass="max-w-full pt-2" [style]="{background:'transparent', padding:'0px'}" [model]="items">
          <ng-template pTemplate="item" let-item>
              <ng-container *ngIf="item.route; else elseBlock">
                  <a [routerLink]="item.route" class="p-menuitem-link bg-transparent p-0">
                      <span class="text-primary">{{ item.label }}</span>
                  </a>
              </ng-container>
              <ng-template #elseBlock>
                  <a [href]="item.url "class="p-menuitem-link bg-transparent">
                      <span class="text-color">{{ item.label }}</span>
                  </a>
              </ng-template>
          </ng-template>
      </p-breadcrumb>
      <h1 class="text-2xl pt-3">REQUERIMIENTOS DE PERSONAL</h1>
  </div>
  <div>
      <div class="flex justify-content-end py-3">
          <p-button label="NUEVO" icon="pi pi-save" size="large" (click)="onOpenModalCreateJobTitleService()"/>
        </div>
  </div>
</div>

<p-card>
  <ng-template pTemplate="header">
      <div class="grid px-3 pt-3">
          <div class="col-12 text-right">
              <p-iconField iconPosition="left">
                  <p-inputIcon>
                      <i class="pi pi-search"></i>
                  </p-inputIcon>
                  <input
                      pInputText
                      class="w-auto"
                      type="text"
                      (input)="dt1.filterGlobal($any($event.target).value, 'contains')"
                      placeholder="Buscador" />
              </p-iconField>
          </div>
      </div>
  </ng-template>

  <p-table
  #dt1
  [value]="projectStore.entities()"
  selectionMode="single"
  dataKey="id"
  [tableStyle]="{ 'min-width': '50rem' }"
  [rows]="5"
  [showCurrentPageReport]="true"
  [rowsPerPageOptions]="[5, 10, 25, 50]"
  [paginator]="true"
  currentPageReportTemplate="Visualizar {first} a {last} de {totalRecords} registros"
  [globalFilterFields]="['id','name']"
  styleClass="p-datatable-gridlines p-datatable-sm">

  <ng-template pTemplate="header">
      <tr>
          <th class="text-sm font-semibold">
              N°
          </th>
          <th class="text-sm font-semibold" pSortableColumn="name" style="width:120px">
              SEC. FUNC. <p-sortIcon field="name" />
          </th>
          <th class="text-sm font-semibold" pSortableColumn="name" style="width:350px">
              PROYECTO <p-sortIcon field="name" />
          </th>
          <th class="text-sm font-semibold" pSortableColumn="name" style="width:260px">
              RESPONSABLE <p-sortIcon field="name" />
          </th>
          <th class="text-sm font-semibold" pSortableColumn="name" style="width:160px">
              ESPECIF. GASTO <p-sortIcon field="name" />
          </th>
          <th class="text-sm font-semibold" pSortableColumn="name" style="width:180px">
              MONTO ASIGNADO <p-sortIcon field="name" />
          </th>
          <th class="text-sm font-semibold" pSortableColumn="name" style="width:180px">
              N° DE DOCUMENTO <p-sortIcon field="name" />
          </th>
          <th class="text-center text-sm font-semibold">ACCIONES</th>
      </tr>
  </ng-template>

  <ng-template pTemplate="body" let-row let-rowIndex="rowIndex">
      <tr [pSelectableRow]="row">
          <td>
              {{rowIndex + 1}}
          </td>
          <td>
              {{ row.functional_sequence }}
          </td>
          <td class="text-sm">
            {{ row.project_name }}
          </td>

          <td class="">
            <div class="flex flex-column ">

              <span class="font-semibold text-sm">{{ row.full_name_responsible }}</span>
              <span class="text-gray-600 text-sm">{{ row.dni_responsible }}</span>
            </div>

          </td>
          <td class="text-sm">
            {{ row.specific_expenditure }}
          </td>
          <td class="text-sm">
              {{ row.amount_as_specified }}
          </td>
          <td>
            <div class="flex flex-column">

              <span class="font-semibold text-sm">{{ row.document_number }}</span>
              <span class="text-gray-600 text-sm">{{ row.document_type }}</span>
            </div>
          </td>
          <td class="">
            <div class="inline-flex column-gap-1">
              <p-button pTooltip="Asignaciones"
                tooltipPosition="top"
                (click)="projectStore.openModalAssignation(row)"
                severity="help" [rounded]="true" [text]="true"
                icon="pi pi-users" styleClass="mr-1"/>

              <p-button pTooltip="Editar requerimientos"
                tooltipPosition="top"
                (click)="projectStore.openModalView(row)"
                severity="info" [rounded]="true" [text]="true"
                icon="pi pi-pencil" styleClass="mr-1"/>

                @if(hasAccessKey('requerimiento-personal-cerrar',authStore.permissions())){
                  <p-button pTooltip="Cerrar"
                  tooltipPosition="top"
                  (click)="onFreeze(row)"
                  severity="warning" [rounded]="true" [text]="true"
                  icon="pi pi-lock" styleClass="mr-1"/>
                }

                <p-button pTooltip="Eliminar"
                tooltipPosition="top"
                (click)="onDelete(row)"
                severity="danger" [rounded]="true" [text]="true"
                icon="pi pi-trash" styleClass="mr-1"/>

            </div>
        </td>
      </tr>
  </ng-template>

  <ng-template pTemplate="emptymessage">
      <tr>
          <td colspan="8" class="text-center">No se encontraron registros.</td>
      </tr>
  </ng-template>
  </p-table>
</p-card>

<app-project-create/>
<app-project-view/>
<app-job-profile-assigned/>
<app-assignation/>
