<div class="w-100 py-3 flex justify-content-between">
    <div>
        <p-breadcrumb  styleClass="max-w-full pt-2" [style]="{background:'transparent', padding:'0px'}" [model]="items">
            <ng-template pTemplate="item" let-item>
                <ng-container *ngIf="item.route; else elseBlock">
                    <a [routerLink]="item.route" class="p-menuitem-link bg-transparent p-0">
                        <span class="text-primary">{{ item.label }}</span>
                    </a>
                </ng-container>
                <ng-template #elseBlock>
                    <a [href]="item.url "class="p-menuitem-link bg-transparent">
                        <span class="text-color">{{ item.label }}</span>
                    </a>
                </ng-template>
            </ng-template>
        </p-breadcrumb>
        <div class="flex flex-column">
          <h1 class="text-2xl pt-3">Personal</h1>
          <h3 class="text-xl text-gray-700 mt-2">Registro y control de personal</h3>
        </div>
    </div>
    <div>
        <div class="flex justify-content-end py-3">
            <p-button label="NUEVO" icon="pi pi-save" size="large" (click)="onOpenModalCreateEmployee()"/>
          </div>
    </div>
</div>

<p-card>
    <ng-template pTemplate="header">
        <div class="grid px-3 pt-3">
            <div class="col-12 text-right">
                <p-iconField iconPosition="left">
                    <p-inputIcon>
                        <i class="pi pi-search"></i>
                    </p-inputIcon>
                    <input
                        pInputText
                        class="w-auto"
                        type="text"
                        (input)="dt1.filterGlobal($any($event.target).value, 'contains')"
                        placeholder="Buscador" />
                </p-iconField>
            </div>
        </div>
    </ng-template>

    <p-table
    #dt1
    [value]="employeeStore.entities()"
    selectionMode="single"
    dataKey="id"
    [tableStyle]="{ 'min-width': '50rem' }"
    [rows]="5"
    [showCurrentPageReport]="true"
    [rowsPerPageOptions]="[5, 10, 25, 50]"
    [paginator]="true"
    currentPageReportTemplate="Visualizar {first} a {last} de {totalRecords} registros"
    [globalFilterFields]="['id', 'document_number','name','job_title.name','establishment.code','establishment.name']"
    styleClass="p-datatable-gridlines p-datatable-sm">

    <ng-template pTemplate="header">
        <tr>
            <th>
                N°
            </th>
            <th pSortableColumn="document_number" style="min-width: 120px;">
                Documento <p-sortIcon field="document_number" />
            </th>
            <th pSortableColumn="name" style="min-width: 280px;">
                Nombre <p-sortIcon field="name" />
            </th>
            <th pSortableColumn="sex" style="min-width: 100px;">
                Sexo <p-sortIcon field="sex" />
            </th>
            <th pSortableColumn="marital_status" style="min-width: 120px;">
              Estado civil <p-sortIcon field="marital_status" />
            </th>
            <th pSortableColumn="date_of_birth" style="min-width: 140px;">
                Fec. Nacimiento <p-sortIcon field="date_of_birth" />
            </th>
            <th pSortableColumn="phone_number" style="min-width: 100px;">
                Telefono <p-sortIcon field="phone_number" />
            </th>
            <th pSortableColumn="email" style="min-width: 100px;">
                Correo <p-sortIcon field="email" />
            </th>
            <th pSortableColumn="birth_city.name" style="min-width: 170px;">
                Lugar de Nacimiento <p-sortIcon field="birth_city.name" />
            </th>
            <th pSortableColumn="address_city.name" style="min-width: 120px;">
                Dirección <p-sortIcon field="address_city.name" />
            </th>
            <th pSortableColumn="bank" style="min-width: 100px;">
                Banco <p-sortIcon field="bank" />
            </th>
            <th pSortableColumn="account_number" style="min-width: 140px;">
                Nro. Cuenta <p-sortIcon field="account_number" />
            </th>
            <th pSortableColumn="cci" style="min-width: 120px;">
                CCI <p-sortIcon field="cci" />
            </th>
            <th pSortableColumn="account_type" style="min-width: 140px;">
                Tipo de cuenta <p-sortIcon field="account_type" />
            </th>
            <th>
                Experiencia
            </th>
            <th>
              Formacion Academica
            </th>
            <th>
              Capacitaciones
            </th>
            <th class="text-center" pFrozenColumn>
                Acciones
            </th>
        </tr>
    </ng-template>

    <ng-template pTemplate="body" let-employee let-rowIndex="rowIndex">
        <tr [pSelectableRow]="employee">
            <td>
                {{rowIndex + 1}}
            </td>
            <td>
                <b>{{ employee.document_type }}</b> : {{ employee.document_number }}
            </td>
            <td>
                {{ employee.name }} {{ employee.father_last_name }} {{ employee.mother_last_name }}
            </td>
            <td>
                {{ employee.sex }}
            </td>
            <td>
                {{ employee.marital_status }}
            </td>
            <td>
                {{ employee.date_of_birth }}
            </td>
            <td>
                {{ employee.phone_number }}
            </td>
            <td>
                {{ employee.email }}
            </td>
            <td>
                {{ employee.birth_city.name }}
            </td>
            <td>
                {{ employee.address_city.name }}
            </td>
            <td>
                {{ employee.bank }}
            </td>
            <td>
                {{ employee.account_number }}
            </td>
            <td>
                {{ employee.cci }}
            </td>
            <td>
                {{ employee.account_type }}
            </td>
            <td class="text-center">
              <p-button pTooltip="Experiencia"
              tooltipPosition="top"
              (click)="goToExperience(employee)"
              severity="info" [rounded]="true" [text]="true"
              icon="pi pi-briefcase" styleClass="mr-1"/>
            </td>
            <td class="text-center">
              <p-button pTooltip="Formacion Academica"
              tooltipPosition="top"
              (click)="goToAcademicTraining(employee)"
               [rounded]="true" [text]="true"
              icon="pi pi-book" styleClass="mr-1"/>
            </td>
            <td class="text-center">
              <p-button pTooltip="Capacitaciones"
              tooltipPosition="top"
              (click)="goToTraining(employee)"
               [rounded]="true" [text]="true"
              icon="pi pi-book" styleClass="mr-1"/>
            </td>
            <td class="" pFrozenColumn>
                <div class="inline-flex">
                  <p-button pTooltip="Editar"
                    tooltipPosition="top"
                    (click)="employeeStore.openModalEdit(employee)"
                    severity="info" [rounded]="true" [text]="true"
                    icon="pi pi-pencil" styleClass="mr-1"/>
                  <p-button pTooltip="Eliminar"
                    tooltipPosition="top"

                    (click)="onDelete(employee)"
                    severity="danger" [rounded]="true" [text]="true"
                    icon="pi pi-trash" styleClass="mr-1"/>
                  <p-button pTooltip="Imprimir"
                    tooltipPosition="top"
                    (click)="null"
                    severity="success" [rounded]="true" [text]="true"
                    icon="pi pi-print" styleClass="mr-1"/>
                </div>
            </td>

        </tr>
    </ng-template>

    <ng-template pTemplate="emptymessage">
        <tr>
            <td colspan="15" class="text-center py-3 bg-yellow-100 font-semibold">No se encontraron registros.</td>
        </tr>
    </ng-template>
    </p-table>
</p-card>

<app-employee-create />
<app-employee-edit />
